* {
  box-sizing: border-box;
}

form, label {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	font-weight: 500;
	color: rgb(18, 14, 8);
	background-color: rgb(13, 7, 0);
}

input, textarea {
    border-radius: 8px;
    background-color: rgb(235, 224, 203);
}

.name-header {
    font-style: "Sacramento", cursive;
}

h1, h2, h3 {
    color: rgb(154, 102, 50);
}

.table-heading {
    margin: 20px 60px;
}

h3.contacts-heading {
    margin: 10px 30px;
}

.bottom-container>a {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

a:link {
    color: rgb(124, 80, 24);
}

a:visited {
    color: rgb(162, 86, 2);
}

a:hover {
    color: rgb(60, 44, 19);
}

li.empty-circle {
    list-style-type: circle;
}

div.base-container {
    background-color: rgb(214, 193, 163);
    border-radius: 15px;
    margin: 20px;
    padding: 50px;
}

hr.dots {
    border-style: none;
    border-top-style: dotted;
    border-color: #8a7a60;
    border-width: 5px;
    width: 5%;
    margin-top: 70px;
    margin-bottom: 40px;
}

div.input {
    min-width: 70%;
    margin: 10px;
}

.input-name {
    display: inline-block;
    min-width: 15%;
    margin: 10px;
}

div.starting-info-container {
    display: flex;
}

div.image {
    padding: 15px;
    width: 80%;
}

div.top_info {
    padding: 30px;
    margin: 10px;
    width: 80%;
}

.top-image {
    border-radius: 50%;
    box-shadow: 10px 10px 10px 10px rgb(100, 71, 47);
    max-width: 200px;
}

/* there's a mess below */

/* This makes tables with one collapsed border
.portfolio-table, .skills-table {
    border-collapse: collapse;
    border: 2px solid grey;
}
*/

.table-headers {
    text-align: left;
}

/* This makes double-bordered tables */
.table-headers>th, .table-body>td {
    border-collapse: collapse;
    border: 2px solid grey;
    padding: 5px;
    padding-right: 30px;
}




